body {
    font-family: 'Satisfy', cursive;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  #add-animal-form{
    position: absolute;
    right: 5px;
    top: 5px;
    border: solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
  }
  form p{
    font-size: 20px;
    margin-top: 0;
  }
  .first-input{
    margin-left: 37px;
  }
  .submit{
    margin-left: 80px;
  }
  h1{
    margin: 10px;
    width: 200px;
    border: solid;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
    font-size: 40px;
  }

  p{
    text-align: center;
    font-size: 30px;
    margin: 5px;

  }

#animal-list{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}
  
  button {
  padding: 5px;
  border: solid;
  border-radius: 4px;
  border-width: 2px;
  background-color: white;
  color: black;
  font-weight: 500;
  cursor: pointer;
  
}

button:hover{
    background-color: black;
  color: white;
  border: none;
}

button:active{
    opacity: 0.4;
}
  
  .animal-details {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
  
  img {
    max-height: 270px;
    width: auto;
    border-radius: 20px;
  }
#reset-votes{
  position: absolute;
  top: 35px;
  left: 100px;
  padding: 20px;
}